<!DOCTYPE html>
{% extends 'layout.html' %}
{% load thoughts_tags %}
{% block title %}Dashboard | {{block.super}}{% endblock %}
 {% block content %}}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Recent Thoughts</h2>
            <ul>
                {% for thought in user.thoughts.all %}
                <l1>{{thought.get_condition_display}}</l1><br>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
          {% thought_form %}
   </div>
    </div>
</div>

{% endblock %}