<!DOCTYPE html>
{% load static from staticfiles %}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Felling{% endblock %}</title>


    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <!-- Optional theme -->
    {% block css %}{% endblock %}
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">
    <!--    <link rel="stylesheet" href="{% static 'css/fellings.css' %}">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .container {
            margin-bottom: -10px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top " id="navbar1">
    <div class="container ">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Feelings</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-brand">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                       href="#"
                       role="button">Companies <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'group:companies:create' %}">Create company</a></li>
                        {% for company in users.companies.all %}
                        <li><a href="{% url 'group:companies:details' slug=comapny.slug %}">{{company.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                       href="#"
                       role="button">Family <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'group:families:create' %}">Create Family</a></li>
                        {% for family in users.families.all %}
                        <li><a href="{% url 'group:families:details' slug=family.slug %}">{{family.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <div class="navbar-collapse collapse" id="navbar">
                <nav class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                    <li><a href="{% url 'users:signup' %}">Signup</a></li>
                    {% else %}
                    <li><a href="{% url 'users:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'users:logout' %}">Logout</a></li>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div class="container">
    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--    <script src="js/bootstrap.min.js"></script>-->
<!-- Latest compiled and minified JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</body>

</html>